<div class="wrapper">
  <form class="container">
    <h1>Влез:</h1>
    <div class="form-outline mb-4">
      <input type="username" placeholder="Въведи потребителско име" id="username" class="form-control" />
      <label class="form-label" for="username">Потребителско име</label>
    </div>
  
    <div class="form-outline mb-4">
      <input type="password" placeholder="Въведи парола" id="password" class="form-control" />
      <label class="form-label" for="password">Парола</label>
    </div>
  
    <button type="button" (click)="checkLogin()"  class="btn btn-primary btn-light">Влез</button>
  </form>
</div>